<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/global.css}" rel="stylesheet" type="text/css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<body class="htmlGlob">
	<div id="bar"></div>


	<h1 id="welcome">Welcome to application</h1>

	<div id="toEditPage">
		<a href="/editPage"> Editing Page ></a>
	</div>
	<div id="toMainPage">
		<a id="toMainPage " href="/mainPage"> View Page ></a>
	</div>
	<div id="toMainPage">
		<a id="toMainPage " href="/addPage"> Adding Page ></a>
	</div>
   
</body>
</html>